---
layout: layouts/company.njk
lang: zh
pageType: company
title: 公司与生产基地 | 群新工业
description: 群新工业、伟群制刀工业集团背景、深圳生产基地与漳州制造基地介绍。
permalink: /company/index.html
canonicalUrl: /company/
alternateUrl: /en/company/
zhUrl: /company/
ogImage: /images/web/factory-building.jpg
---
