---
layout: layouts/rfq-guide.njk
lang: zh
pageType: rfq-guide
title: 工业机械刀具询价资料指南 | 群新工业
description: 了解按图制造、按样复刻和工况评估所需的图纸、尺寸、设备、被处理材料、数量与附件资料。
pageTitle: 工业机械刀具询价资料指南
parentTitle: 技术询价
parentUrl: /rfq/
permalink: /rfq/custom-industrial-knife-drawing-checklist/index.html
canonicalUrl: /rfq/custom-industrial-knife-drawing-checklist/
alternateUrl: /en/rfq/custom-industrial-knife-drawing-checklist/
zhUrl: /rfq/custom-industrial-knife-drawing-checklist/
ogImage: /images/web/product-parts.jpg
---
