---
layout: layouts/company.njk
lang: en
pageType: company
title: Company and Manufacturing Bases | Teamstar Manufacturing
description: Qunxin Industrial, Wei Qun group background, Shenzhen production base and Zhangzhou manufacturing base.
permalink: /en/company/index.html
canonicalUrl: /en/company/
alternateUrl: /company/
zhUrl: /company/
ogImage: /images/web/factory-building.jpg
---
