---
layout: layouts/home.njk
lang: zh
pageType: home
title: 群新工业 | 工业机械刀具定制制造
description: 群新工业面向木工、食品加工、塑料回收、纸品加工、纺织服装及专用设备领域，提供工业机械刀具定制制造服务。
permalink: /index.html
canonicalUrl: /
alternateUrl: /en/
zhUrl: /
ogImage: /images/web/product-parts.jpg
---
