---
layout: layouts/home.njk
lang: zh
pageType: home
title: 群新工业 | 工业刀具与机器刀片定制
description: 群新工业提供木工、食品、塑胶回收、纸品、纺织及异型工业刀具的来图、来样与工况定制服务。
permalink: /index.html
canonicalUrl: /
alternateUrl: /en/
zhUrl: /
ogImage: /images/web/product-parts.jpg
---
